.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding: 10px;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
}

.card {
    width: 200px;
    height: 200px;
    perspective: 500px;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card.flip .content {
    transform: rotateY( 180deg);
    transition: transform 0.5s;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    backface-visibility: hidden;
}

.back {
    transform: rotateY( 180deg);
}